.body{
    background: #E5E5E5;
    box-sizing: border-box;
}
.topo{
    width: 100%;
    background-color: #CF2B2B;
    height: 92px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.topo:first-child{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    padding-top: 8px ;
    padding-left: 21px;
}
.topo:first-child h1{
    font-family: 'Righteous';
    font-size: 44px;
}

.opcoes-pratos, .opcoes-bebidas, .opcoes-sobremesas{
    overflow-x: scroll;
    display: flex;

}
.listapratos{
    padding-top: 123px;
}

.listapratos, .listabebidas, .listasobremesas {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    padding-left: 19px;
    padding-bottom: 15px;
    width: 100%;
}
.listasobremesas{
    padding-bottom: 110px;
}
.prato{
    min-width: 172px;
    height: 216px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 17px;
    margin-bottom: 27px;
    margin-left: 16px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

}
.conteudoprato{
    width: 144px;
    height: 170px;
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;  
    box-sizing: border-box;

}
.foto-opcao{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    object-fit: cover;
}

h3, h4, p {
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
h4{
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
p{
    color:#a6a6a6;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
.fim{
    width: 100%;
    height: 92px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 3;

}

.finalizarcinza{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 88vw;
    height: 61px;
    background-color:#cbcbcb ;
    color: #fff;
    border-radius: 50px;
}
.finalizarverde{
    font-weight: 700;
    background-color: #32B72F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 88vw;
    height: 61px;
    color: #fff;
    border-radius: 50px;
    display: none;

}
.bordaverdeprato{
    box-shadow: 0px 0px 0px 5px #32B72F;
}
.bordaverdebebida{
    box-shadow: 0px 0px 0px 5px #32B72F;
}
.bordaverdesobremesa{
    box-shadow: 0px 0px 0px 5px #32B72F;
}

.tique{
    font-size: 20px;
    color: #32B72F;
    display:none;
}
.mostrar{
    display: block;
    display: flex;

}
.esconder{
    display: none;
}